
.icon-hospital:before { content: '\e800'; } /* '' */
.icon-industrial-building:before { content: '\e801'; } /* '' */
.icon-library:before { content: '\e802'; } /* '' */
.icon-shop:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-videocam:before { content: '\e805'; } /* '' */
.icon-picture-1:before { content: '\e806'; } /* '' */