{% extends "baseLayout.html" %}
{% block css %}

<link href="/static/css/common.css" rel="stylesheet">
<style>
.pageContentsWrapper img{
    float: left;
    border: 1px solid white;
    cursor: pointer;
}

.pageContentsWrapper img:hover{
    border: 1px solid blue;
}

</style>

{% endblock %}

{% block js %}

{% endblock %}


{% block body %}
<div class="pageContentsWrapper">
    <div class="pageContents clearfix">
        <h3> This is the Homepage </h3>
        <br>

    </div>
</div>
{% endblock %}
