{% extends "baseLayout.html" %}
{% block css %}

<link href="/static/css/common.css" rel="stylesheet">
<style>
.pageContentsWrapper img{
    float: left;
    border: 1px solid white;
    cursor: pointer;
}

.pageContentsWrapper img:hover{
    border: 1px solid blue;
}

</style>

{% endblock %}

{% block js %}

{% endblock %}


{% block body %}
<div class="pageContentsWrapper">
    <div class="pageContents clearfix">
        <h3> This is the Homepage </h3>
        <br>
        <img src="/static/img/1.png" />
        <img src="/static/img/2.png" />
        <img src="/static/img/3.png" />
        <img src="/static/img/4.png" />
        <img src="/static/img/5.png" />
        <img src="/static/img/6.png" />
        <img src="/static/img/7.png" />
        <img src="/static/img/8.png" />
        <img src="/static/img/1.png" />
        <img src="/static/img/2.png" />
        <img src="/static/img/3.png" />
        <img src="/static/img/4.png" />
        <img src="/static/img/5.png" />
        <img src="/static/img/6.png" />
        <img src="/static/img/7.png" />
        <img src="/static/img/8.png" />
        <img src="/static/img/1.png" />
        <img src="/static/img/2.png" />
        <img src="/static/img/3.png" />
        <img src="/static/img/4.png" />
        <img src="/static/img/5.png" />
        <img src="/static/img/6.png" />
        <img src="/static/img/7.png" />
        <img src="/static/img/8.png" />
        <img src="/static/img/1.png" />
        <img src="/static/img/2.png" />
        <img src="/static/img/3.png" />
        <img src="/static/img/4.png" />
        <img src="/static/img/5.png" />
        <img src="/static/img/6.png" />
        <img src="/static/img/7.png" />
        <img src="/static/img/8.png" />
        <img src="/static/img/1.png" />
        <img src="/static/img/2.png" />
        <img src="/static/img/3.png" />
        <img src="/static/img/4.png" />
        <img src="/static/img/5.png" />
        <img src="/static/img/6.png" />
        <img src="/static/img/7.png" />
    </div>
</div>
{% endblock %}
