{% extends "baseLayout.html" %}
{% block css %}

<link href="/static/css/common.css" rel="stylesheet">
<style>
.imgFixWidth{
    width: 250px;
}
</style>
{% endblock %}

{% block js %}
<script>

//TODO: this is very hacky
$( document ).ready( function (){
    var results = '{{ searchResults|safe }}';
    var images = JSON.parse( results );
    $('.pageContents').html('')
    for( var i = 0; i < images.length; i++ ){
        console.log( images[i] );
        //$('.pageContents').append('<img class="imgFixWidth" src="/static/storage/'+ images[i][0] +'" />')
    }
})
</script>
{% endblock %}

{% block body %}
<div class="pageContentsWrapper">
    <div class="pageContents clearfix">
    </div>
</div>
{% endblock %}
