{% extends "baseLayout.html" %}
{% block css %}

<link href="/static/css/common.css" rel="stylesheet">
<style>
.imgFixWidth{
    max-width: 250px;
    max-height:250px;
}
</style>
{% endblock %}

{% block js %}
<script>

//TODO: this is very hacky
$( document ).ready( function (){
    var results = {{ searchResults|safe }};

    console.log( results )
    for( var i = 0; i < results.length; i++ ){
        var loc = results[i].files[0].fileLocation + results[i].files[0].filename
        $('.pageContents').append("<img class='imgFixWidth' src='" + loc + "' />");
    }
})
</script>
{% endblock %}

{% block body %}
<div class="pageContentsWrapper">
    <div class="pageContents clearfix">
    </div>
</div>
{% endblock %}
