{% extends "baseLayout.html" %}

{% block css %}

<link href="/static/css/common.css" rel="stylesheet">

{% endblock %}

{% block js %}

{% endblock %}


{% block body %}
<div class="pageContentsWrapper">
    <div class="pageContents">
        <form action="/file" method=post class=add-entry enctype=multipart/form-data>
            <h3>File:</h3>
            <input type=file name=photo>
            <h3>Tags:</h3>
            <input type=text name=tags rows=5 cols=40 />
            <h3>title:</h3>
            <input type=text name=title />
            <h3>description:</h3>
            <input type=text name=description rows=5 cols=40 />
            <br>
            <br>
            <input type=submit value=Upload..>
        </form>
    </div>
</div>

{% endblock %}
